{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Вхід / Реєстрація</title>
  <link rel="stylesheet" href="{% static 'css/style_reg.css' %}" />
</head>
<body>
    <div class="form-container">
    <div class="toggle-buttons">
        <button id="loginTab" class="active">Вхід</button>
        <button id="registerTab">Реєстрація</button>
    </div>

    <!-- Форма входу -->
    <form id="loginForm">
        <label for="login-username">Логін</label>
        <input type="text" id="login-username" required />

        <label for="login-password">Пароль</label>
        <input type="password" id="login-password" required />

        <button type="submit">Увійти</button>
    </form>

    <!-- Форма реєстрації -->
    <form id="registerForm" class="hidden" method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <label for="register-name">Ім’я</label>
        <input type="text" id="register-name" required />

        <label for="register-username">Логін</label>
        <input type="text" id="register-username" required />

        <label for="register-email">Gmail</label>
        <input type="email" id="register-email" name="email" required placeholder="you@gmail.com" />

        <label for="register-password">Пароль</label>
        <input type="password" id="register-password" required />

        <label for="register-confirm">Повторіть пароль</label>
        <input type="password" id="register-confirm" required />

        <div class="checkbox-group">
            <input type="checkbox" id="special-needs" />
            <label for="special-needs">Я маю особливі потреби</label>
        </div>

        <button type="submit" class="register-button">Зареєструватися</button>
    </form>
    </div>

    <script src="{% static 'js/script_reg.js' %}"></script>
</body>
</html>
