{% extends "base.html" %}
{% load static %}

{% block title %}Маршрути{% endblock %}

{% block content %}
  <form style="display:none">{% csrf_token %}</form>

  <div class="filters">
    <button class="filter-btn">VISION IMPAIRMENT</button>
    <button class="filter-btn">WHEELCHAIR ACCESSIBLE</button>
    <button class="filter-btn">TACTILE ELEMENT</button>
    <button class="filter-btn">EASY ENTRANCE</button>
    <button class="filter-btn">ACCESSIBLE TOILET</button>
    <button class="filter-btn">HAS RAMP</button>
  </div>

  <div id="map" style="height: 600px; margin: 20px; border-radius: 12px;"></div>

  <div class="route-output">
    <div id="route-instructions"></div>
    <div id="route-places-details"></div>
  </div>
  <!-- Leaflet Routing Machine -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
  <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.min.js"></script>

  <script src="{% static 'js/route_map.js' %}"></script>

  <p style="text-align: center; font-weight: bold; color: #333;">
    Клікніть спочатку початкову точку маршруту, потім кінцеву. Автоматично буде включено до 5 доступних місць поблизу.
  </p>
{% endblock %}
