{% extends "base.html" %}
{% load static %}

{% block title %}Маршрути{% endblock %}
{% block content %}
  <form style="display:none">{% csrf_token %}</form>

  <div class="filters">
    <button class="filter-btn">VISION IMPAIRMENT</button>
    <button class="filter-btn">WHEELCHAIR ACCESSIBLE</button>
    <button class="filter-btn">TACTILE ELEMENT</button>
    <button class="filter-btn">EASY ENTRANCE</button>
  </div>

  <div id="map" style="height: 600px; margin: 20px; border-radius: 12px;"></div>

  <div class="route-output">
    <div id="route-instructions"></div>
    <div id="route-places-details"></div>
  </div>
  <!-- Leaflet Routing Machine -->

  <p style="text-align: center; font-weight: bold; color: #333;">
    Клікніть спочатку початкову точку маршруту, потім кінцеву. Автоматично буде включено до 5 доступних місць поблизу.
  </p>
{% endblock %}
